<div class="main">
    <!-- <form> 标签的 action 属性用于指定当用户提交表单时，浏览器应将表单数据发送到的URL。这通常是一个服务器端脚本的URL，该脚本会处理和响应表单数据。 -->
    <form action="">
        <div class="login-form">
            <label for="username">用户名</label>
            <input type="text" id="username" placeholder="请输入用户名">
        </div>
        <div class="login-form">
            <label for="password">密码</label>
            <input type="text" id="password" placeholder="请输入密码">
            <a href="#">忘记密码？</a>
        </div>
        <button type="submit">登录</button>
    </form>
</div>
