<div class="container">
      <form action="" class="login-form">
            <div class="form-group">
                  <label for="phone">手机号</label>
                  <input type="text" id="phone" name="phone" placeholder="请输入手机号">
            </div>
            <div class="form-group">
                  <label for="verification">验证码</label>
                  <input type="text" id="verification" name="verification" placeholder="请输入验证码">
                  <button type="submit" class="btn btn-primary">获取验证码</button>
            </div>
            <div class="form-group">
                  <input type="checkbox" name="auto-login" id="auto-login">
                  <label for="auto-login">未注册的手机号将自动注册，并表示同意<a href="#">服务条款</a></label>
            </div>
            <button type="submit" class="login-button">登录</button>
      </form>
</div>

